pnut.localhost {
    tls internal

    reverse_proxy web_angular:4200

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
    }

    log {
        output file /var/log/access.log
        level debug
    }
}

api.localhost {
    tls internal

    reverse_proxy web_dotnet:5000

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
    }

    log {
        output file /var/log/access.log
        level debug
    }
}